.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navButton {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: #000;
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.8;
    }
  }

  .containerLinks {

    a {
      display: flex;
      gap: 1rem;
      margin-bottom: .2rem  ;
    }
  }
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.addButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background: white;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.removeButton {
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  background-color: #dc2626;
  color: white;
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}